/**
 * Global demo content styling (don't include this file on your own website)
 *
 */

body {
font-family: "Lucida Grande", Helvetica, Arial, Verdana,sans-serif;
font-size: 62.5%;
color: #333;
}

.demo-information,
.demo-settings {
margin: 10px;
}

  .demo-information {
  width: 760px;
  max-width: 100%;
  }

	.demo-information h1,
	.demo-settings h1 {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 1.8em;
	line-height: 2.1em;
	}
	
	.demo-information h2,
	.demo-settings h2 {
	margin: 0;
  padding: 0 0 5px 0;
  font-size: 1.5em;
  line-height: 1.8em;
  }
  
  .demo-information h3,
  .demo-settings h3 {
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
  }  
	
	.demo-information code,
	.demo-information p,
	.demo-settings p {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 1.2em;
	line-height: 1.5em;
  }
  
  .demo-information code {
  border: 1px dashed #000;
  overflow: auto;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  }
  
  .demo-information hr,
  .demo-settings hr {
  margin: 0;
  padding: 0 0 15px 0;  
  }
  
  .demo-information ul,
  .demo-settings ul {
  margin: 0;
  padding: 0 0 5px 14px;
  }
  
  .demo-information ul li,
  .demo-settings ul li,
  .demo-settings .row {
  font-size: 1.2em;
  line-height: 1.5em;
  }
  
  .demo-information a,
  .demo-settings p {
  }
  
  .demo-information hr,
  .demo-settings hr {
  border: 0; 
  border-top: 1px solid #333;
  }
  
  .demo-settings {
  width: 900px;
  max-width: 100%;
  }