/**
 * Crap which is loaded in IE browsers only
 */
.sg-loader-underlay-holder {  
/* Following crap works only on IE 8 / IE 7 / IE 6 when ActiveX is enabled */
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=20)";
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);  
}

.sg-infowindow-load-tab-data-underlay-holder { 
/* Following crap works only on IE 8 / IE 7 / IE 6 when ActiveX is enabled */
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
