<?php

    $version = SVZ_Solutions_Maps_Map::APP_VERSION;

    $version = time();
    
    $dojoVersion = '1.13.0';

?>
<script>
//<!--

    var dojoConfig = {
        cacheBust  : 'v=<?php echo $version; ?>'
    };

//-->
</script>
<script data-dojo-config="async: true" src="//ajax.googleapis.com/ajax/libs/dojo/<?php echo $dojoVersion; ?>/dojo/dojo.js"></script>

<script>
//<!--

require({

    baseUrl: '../../../inc/svzsolutions/',
    packages: [
      { name: "dojo", location: "//ajax.googleapis.com/ajax/libs/dojo/<?php echo $dojoVersion; ?>/dojo" },
      { name: "dijit", location: "//ajax.googleapis.com/ajax/libs/dojo/<?php echo $dojoVersion; ?>/dijit" },
      { name: "svzsolutions", location: "../svzsolutions" },
      { name: "yourlib", location: "../yourlib" },
      { name: "test", location: "../../tests/inc/tests" },
      { name: "detect-global", location: "detect-global", main: "detect-global" }
    ]

}, [ 'dojo/ready', 'dojo/_base/kernel', 'dojo' ], function(ready)
{

    require([ 'svzsolutions/maps/MapManager' <?php echo (!empty($requires) ? ",'" . implode("','", $requires) . "'" : ''); ?> ], function() {

        ready(function() {

            <?php echo $initOnLoad; ?>

        });

    });

});

//-->
</script>

</body>
</html>